.content-conteiner header .header-conteiner .user-info {
  display: grid;
  grid-template-columns: 40vi 1fr;
}
.content-conteiner header .header-conteiner .user-info .user-foto .user-name {
  display: flex;
  align-items: flex-end;
  position: absolute;
  justify-content: space-around;
  width: 40vi;
  height: 40vi;
  padding: 0 0 2% 0;
}
.content-conteiner header .header-conteiner .user-info .user-foto .user-name p {
  font-size: calc(1em + 1vw);
}
.content-conteiner header .header-conteiner .user-info .user-foto img {
  width: 40vi;
  height: 40vi;
}
.content-conteiner header .header-conteiner .user-info .user-skils .profession {
  background-color: #ffbaee;
  height: 10vi;
}
.content-conteiner header .header-conteiner .user-info .user-skils .profession .profession-tex {
  height: 10vi;
  align-items: center;
  justify-content: center;
  display: flex;
}
.content-conteiner header .header-conteiner .user-info .user-skils .profession .profession-tex p {
  font-size: calc(1em + 1vw);
}
.content-conteiner header .header-conteiner .user-info .user-skils .tabs {
  display: flex;
  background: url("../img/tabs.jpg") 0 0/cover no-repeat;
}
.content-conteiner header .header-conteiner .user-info .user-skils .tabs .left-tabs, .content-conteiner header .header-conteiner .user-info .user-skils .tabs .right-tabs {
  width: 100%;
  height: 30vi;
  display: flex;
  flex-direction: column;
  padding: 2%;
  justify-content: center;
  padding: 0%;
}
.content-conteiner header .header-conteiner .user-info .user-skils .tabs .left-tabs a, .content-conteiner header .header-conteiner .user-info .user-skils .tabs .right-tabs a {
  font-size: calc(1em + 1vw);
  flex-grow: 1;
  background: none;
  text-align: left;
  font-weight: bold;
  text-decoration: underline;
  color: #006cc5;
}
.content-conteiner header .header-conteiner .user-info .user-skils .tabs .left-tabs a .shop, .content-conteiner header .header-conteiner .user-info .user-skils .tabs .right-tabs a .shop {
  color: red;
}
.content-conteiner header .header-conteiner .user-info .user-skils .tabs .left-tabs a .shop-items, .content-conteiner header .header-conteiner .user-info .user-skils .tabs .right-tabs a .shop-items {
  color: #00ca0d;
}
.content-conteiner header .header-conteiner .phone-number {
  display: flex;
  width: 100%;
  height: 10vi;
  background-color: #ffbaee;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}
.content-conteiner header .header-conteiner .phone-number p {
  font-size: calc(1em + 1vw);
}
.content-conteiner nav {
  position: sticky;
  z-index: 3;
  top: 0;
}
.content-conteiner nav .nav-conteiner {
  display: flex;
  width: 100%;
  height: 10vi;
  background-color: #8589EA;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}
.content-conteiner nav .nav-conteiner .sait-navigation, .content-conteiner nav .nav-conteiner .links-navigation {
  width: 30vi;
  display: flex;
  justify-content: left;
  gap: 15px;
}
.content-conteiner nav .nav-conteiner .sait-navigation button, .content-conteiner nav .nav-conteiner .sait-navigation a, .content-conteiner nav .nav-conteiner .links-navigation button, .content-conteiner nav .nav-conteiner .links-navigation a {
  background-color: #8589EA;
}
.content-conteiner nav .nav-conteiner .sait-navigation button img, .content-conteiner nav .nav-conteiner .sait-navigation a img, .content-conteiner nav .nav-conteiner .links-navigation button img, .content-conteiner nav .nav-conteiner .links-navigation a img {
  width: 8vi;
}
.content-conteiner main .main-conteiner .main-price-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.content-conteiner main .main-conteiner .main-price-block .detailed-price {
  grid-row: 1;
  grid-column: 1/4;
  background: url("../img/1.jpg") 0 0/cover no-repeat;
}
.content-conteiner main .main-conteiner .main-price-block .detailed-price .price-name {
  color: #ffffff;
  padding: 2%;
  text-align: center;
  font-size: calc(1em + 4vw);
}
.content-conteiner main .main-conteiner .main-price-block .detailed-price .my-price .left-price .price-block, .content-conteiner main .main-conteiner .main-price-block .detailed-price .my-price .right-price .price-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 12% 2% 5%;
  text-align: start;
}
.content-conteiner main .main-conteiner .main-price-block .detailed-price .my-price .left-price .price-block .procedur, .content-conteiner main .main-conteiner .main-price-block .detailed-price .my-price .right-price .price-block .procedur {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 3%;
       column-gap: 3%;
  flex-grow: 1;
}
.content-conteiner main .main-conteiner .main-price-block .detailed-price .my-price .left-price .price-block .procedur img, .content-conteiner main .main-conteiner .main-price-block .detailed-price .my-price .right-price .price-block .procedur img {
  height: 5vi;
}
.content-conteiner main .main-conteiner .main-price-block .detailed-price .my-price .left-price .price-block .procedur p, .content-conteiner main .main-conteiner .main-price-block .detailed-price .my-price .right-price .price-block .procedur p {
  padding: 1% 0 0 0;
}
.content-conteiner main .main-conteiner .main-price-block .detailed-price .my-price .left-price .price-block .procedur .procedur-naim, .content-conteiner main .main-conteiner .main-price-block .detailed-price .my-price .right-price .price-block .procedur .procedur-naim {
  font-size: calc(1em + 2vw);
  background: none;
  flex-grow: 1;
  color: rgb(0, 187, 255);
}
.content-conteiner main .main-conteiner .main-price-block .detailed-price .my-price .left-price .price-block .prices, .content-conteiner main .main-conteiner .main-price-block .detailed-price .my-price .right-price .price-block .prices {
  font-size: calc(1em + 2vw);
  color: rgb(234, 255, 75);
}
.content-conteiner main .main-conteiner .main-price-block .detailed-price .my-price .left-price .price-block:hover, .content-conteiner main .main-conteiner .main-price-block .detailed-price .my-price .right-price .price-block:hover {
  text-decoration: underline;
  color: #00ca0d;
}
.content-conteiner main .main-conteiner .main-price-block .detailed-price .my-price .left-price .price-block:hover p, .content-conteiner main .main-conteiner .main-price-block .detailed-price .my-price .right-price .price-block:hover p {
  color: rgb(255, 0, 0);
}
.content-conteiner main .main-conteiner .main-price-block .detailed-price .my-price .left-price .price-block:hover .procedur-naim, .content-conteiner main .main-conteiner .main-price-block .detailed-price .my-price .right-price .price-block:hover .procedur-naim {
  color: rgb(255, 120, 237);
}
.content-conteiner main .main-conteiner .main-price-block .beauty-price1, .content-conteiner main .main-conteiner .main-price-block .beauty-price2, .content-conteiner main .main-conteiner .main-price-block .beauty-price3 {
  height: 100vi;
}
.content-conteiner main .main-conteiner .main-price-block .beauty-price1 .procedurs-container .infocont, .content-conteiner main .main-conteiner .main-price-block .beauty-price2 .procedurs-container .infocont, .content-conteiner main .main-conteiner .main-price-block .beauty-price3 .procedurs-container .infocont {
  height: 100vi;
  text-align: center;
  padding: 5% 10%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.content-conteiner main .main-conteiner .main-price-block .beauty-price1 .procedurs-container .infocont .blok1, .content-conteiner main .main-conteiner .main-price-block .beauty-price2 .procedurs-container .infocont .blok1, .content-conteiner main .main-conteiner .main-price-block .beauty-price3 .procedurs-container .infocont .blok1 {
  height: 10vi;
  font-size: calc(1em + 2vw);
}
.content-conteiner main .main-conteiner .main-price-block .beauty-price1 .procedurs-container .infocont .blok1 p, .content-conteiner main .main-conteiner .main-price-block .beauty-price2 .procedurs-container .infocont .blok1 p, .content-conteiner main .main-conteiner .main-price-block .beauty-price3 .procedurs-container .infocont .blok1 p {
  color: #006cc5;
}
.content-conteiner main .main-conteiner .main-price-block .beauty-price1 .procedurs-container .infocont .blok2, .content-conteiner main .main-conteiner .main-price-block .beauty-price2 .procedurs-container .infocont .blok2, .content-conteiner main .main-conteiner .main-price-block .beauty-price3 .procedurs-container .infocont .blok2 {
  padding: 5vi 0;
}
.content-conteiner main .main-conteiner .main-price-block .beauty-price1 .procedurs-container .infocont .blok2 p, .content-conteiner main .main-conteiner .main-price-block .beauty-price2 .procedurs-container .infocont .blok2 p, .content-conteiner main .main-conteiner .main-price-block .beauty-price3 .procedurs-container .infocont .blok2 p {
  text-align: left;
  font-size: calc(1em + 1vw);
  color: #78ffcb;
  font-style: italic;
  font-weight: bold;
}
.content-conteiner main .main-conteiner .main-price-block .beauty-price1 .procedurs-container .infocont .blok3, .content-conteiner main .main-conteiner .main-price-block .beauty-price2 .procedurs-container .infocont .blok3, .content-conteiner main .main-conteiner .main-price-block .beauty-price3 .procedurs-container .infocont .blok3 {
  padding: 5% 10% 0 10%;
  font-size: calc(1em + 2vw);
  word-break: break-all;
  text-align: center;
  height: 15vi;
  align-items: flex-end;
}
.content-conteiner main .main-conteiner .main-price-block .beauty-price1 .procedurs-container .infocont .blok3 p, .content-conteiner main .main-conteiner .main-price-block .beauty-price2 .procedurs-container .infocont .blok3 p, .content-conteiner main .main-conteiner .main-price-block .beauty-price3 .procedurs-container .infocont .blok3 p {
  color: #006cc5;
}
.content-conteiner main .main-conteiner .main-price-block .beauty-price1 {
  background: url("../img/lips.jpg") 0 0/cover no-repeat;
  grid-row: 2;
  grid-column: 1/4;
}
.content-conteiner main .main-conteiner .main-price-block .beauty-price2 {
  background: url("../img/2.jpg") 0 0/cover no-repeat;
  grid-row: 3;
  grid-column: 1/4;
}
.content-conteiner main .main-conteiner .main-price-block .beauty-price3 {
  background: url("../img/3.jpg") 0 0/cover no-repeat;
  grid-row: 4;
  grid-column: 1/4;
}
.content-conteiner main .main-conteiner .main-price-block .main-procedur {
  grid-row: 5;
  grid-column: 1/4;
  background: url("../img/4.jpg") 0 0/cover no-repeat;
  text-align: center;
  font-size: 20px;
  padding: 5% 10%;
}
.content-conteiner main .main-conteiner .main-price-block .main-procedur .first p, .content-conteiner main .main-conteiner .main-price-block .main-procedur .secont p, .content-conteiner main .main-conteiner .main-price-block .main-procedur .therd p {
  padding: 5% 0;
  font-size: calc(1em + 1vw - 3px);
}
.content-conteiner main .main-conteiner .main-price-block .main-procedur .secont {
  display: none;
}
.content-conteiner main .main-conteiner .main-price-block .main-procedur .secont p {
  font-size: calc(1em + 1vw - 3px);
}
.content-conteiner main .main-conteiner .main-price-block .main-procedur .therd {
  display: flex;
  justify-content: space-around;
}
.content-conteiner main .main-conteiner .my-vork-foto {
  display: grid;
  background-color: #55564f;
}
.content-conteiner main .main-conteiner .byografy {
  background-color: #EA85B0;
}
.content-conteiner main .main-conteiner .byografy .byografy-conteiner {
  display: grid;
  grid-template-columns: 40vi 60vi;
}
.content-conteiner main .main-conteiner .byografy .byografy-conteiner .byografy-foto {
  background-color: #93ac00;
  display: grid;
  align-items: center;
  justify-content: center;
}
.content-conteiner main .main-conteiner .byografy .byografy-conteiner .byografy-foto .you-byografy-foto img {
  width: 40vi;
  height: 40vi;
}
.content-conteiner main .main-conteiner .byografy .byografy-conteiner .byografy-info {
  padding: 3%;
}
.content-conteiner main .main-conteiner .byografy .byografy-conteiner .byografy-info .byografy-name {
  padding: 3%;
  font-size: calc(1em + 1vw - 3px);
  text-align: center;
  color: #006cc5;
}
.content-conteiner main .main-conteiner .byografy .byografy-conteiner .byografy-info .byografy-state {
  padding: 2%;
  word-break: break-all;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 29vi;
}
.content-conteiner main .main-conteiner .byografy .byografy-conteiner .byografy-info .byografy-state .paragraf1 {
  font-size: calc(1em + 1vw - 4px);
}
.content-conteiner main .main-conteiner .byografy .byografy-conteiner .byografy-info .byografy-state .paragraf2 {
  display: none;
}
.content-conteiner main .main-conteiner .byografy .byografy-conteiner .byografy-info .byografy-state .paragraf3 {
  display: none;
}
.content-conteiner main .main-conteiner .byografy .byografy-conteiner .byografy-info .byografy-state a {
  height: 10vi;
  font-size: calc(1em + 1vw);
}
.content-conteiner footer .futer-conteiner {
  display: flex;
  justify-content: space-between;
  background-color: #8589EA;
}
.content-conteiner footer .futer-conteiner .user-contacts, .content-conteiner footer .futer-conteiner .my-contacts {
  flex-grow: 1;
  padding: 2%;
  font-size: calc(1em + 1vw);
}
.content-conteiner footer .futer-conteiner .user-contacts .conacts-links, .content-conteiner footer .futer-conteiner .my-contacts .conacts-links {
  display: flex;
  padding: 2% 0;
  gap: 3%;
}
.content-conteiner footer .futer-conteiner .user-contacts .conacts-links a img, .content-conteiner footer .futer-conteiner .my-contacts .conacts-links a img {
  width: 10vi;
  height: 10vi;
}/*# sourceMappingURL=style.css.map */